form {
    display: flex;
    flex-direction: column;
    font-size: "x-large";
}

label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

.isHidden {
    display: none;
}

.isShown {
    display: block;
}

.url {
    display: table-row;
}


#addIcon:hover, #subIcon:hover {
    box-shadow: 10px 10px 5px #888888;
}

#addIcon, #subIcon {
    border-radius: 50%;
    height: 2rem;
    width: 1.5rem;
}

.light-add {
    margin: 20px;
    border: none;
    background: none;
}

.dark-add {
    margin: 20px;
    border: none;
    background: none;
}
