@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.registration {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  font-family: "Nunito", sans-serif;
  
}

.registration .openModalBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}

.registration .openModalBtn2 {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}






body {
  padding: 0;
  margin: 0;
}